@model Model.EF.Contact
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 100%;
         }
         /* Optional: Makes the sample page fill the window. */
         html, body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                //20.861893, 106.669130
                center: { lat: 20.861893, lng: 106.669130 },
                zoom: 22
            });

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzyWRhGgz6ZKydswcSLAZoSCFaM9RLWB8&callback=initMap"></script>
    <script src="/assets/admin/js/controller/contactController.js"></script>

}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Thông tin liên hệ</h2>
                @Html.Raw(Model.Content)

                <br />
                <h2>Gửi thông tin</h2>
                <form>
                    <div class="form-group">
                        <label>Họ tên</label>
                        <input type="text" id="txtName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Điện thoại</label>
                        <input type="text" id="txtMobile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input type="text" id="txtAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" id="txtEmail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Yêu cầu</label>
                        <textarea id="txtContent" class="form-control">

                        </textarea>
                    </div>
                    <button id="btnSend" class="btn btn-success">Gửi đi</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Bản đồ</h2>
                <div class="map" id="mapCanvas"></div>
            </div>
        </div>
    </div>
</div>

